* {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  background-color: rgb(47, 44, 44);
  color: white;
  height: 5rem;
  line-height: 5rem;
}

.choice {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choice:hover {
  cursor: pointer;
  background-color: #081b31;
}

img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
  gap: 2rem;
}

#User-Score,
#Comp-Score {
  font-size: 3rem;
}

#msg {
  display: inline;
  font-size: 3rem;
  color: white;
  padding: 1rem;
  border-radius: 2rem;
}
